#land-section {
  width: calc(100vw - 40px);
  height: calc(100vh - var(--nav-height) - var(--footer-height) - 40px);
  display: grid;
  gap: 10px;
  place-items: center;
  grid-template: repeat(8, 1fr) / repeat(20, 1fr);
  margin: 20px;
}

.about-me__title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2 / span 2;
  grid-column: 3 / span 7;
  font-size: 100px;
  font-family: "Lobster", cursive;
  text-shadow: 7px 5px 10px rgba(0, 0, 0, 0.25);
}

.about-me__para {
  text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-size: 26px;
  font-style: italic;
  height: 100%;
  width: 100%;
  line-height: 30px;
}

.about-me__para-container {
  height: 100%;
  width: 100%;
  grid-row: 4 / span 3;
  grid-column: 3 / span 7;
}

.about-me__picture {
  grid-row: 2 / span 6;
  grid-column: 13 / span 5;
  width: 100%;
  height: 100%;
  border: 5px solid var(--main__color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  animation: AboutMePictureAnim 5s infinite ease;
  border-radius: 10px;
  overflow: hidden;
}

.about-me__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-me__button-container {
  width: 100%;
  height: 100%;
  grid-row: 7 / span 1;
  grid-column: 3 / span 7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me__button {
  padding: 10px 40px;
  font-size: 28px;
  font-weight: 800;
  border-radius: 5px;
  background-color: var(--main__color);
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  transition: 75ms all ease-in-out;
  cursor: pointer;
}

.about-me__button:active {
  transform: scale(0.9);
  filter: brightness(0.9);
}

.item {
  background-color: rgba(255, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__container {
  width: 100%;
  height: 100%;
  grid-column: 2 / span 18;
  grid-row: 2 / span 6;
  display: grid;
  grid-template: repeat(6, 1fr);
  gap: 10px;
  grid-template-columns: repeat(auto-fill, 84.5px);
  grid-auto-flow: column;
  grid-auto-columns: 84.5px;
  overflow-x: scroll;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow-y: hidden;
  background-color: #fff9fe;
}

.services__list {
  grid-column: span 5;
  grid-row: span 6;
  text-align: center;
  font-size: 40px;
  padding: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  background-color: #fff9fe;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.services__item-title {
  font-size: 26px;
  margin-top: 20px;
  font-weight: 900;
  height: 30px;
}

.services__item-element--container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  overflow-y: auto;
  max-height: 420px;
  border-radius: 10px;
}

.services__item-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 18px;
  background-color: whitesmoke;
  padding: 20px 20px;
  width: 100%;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}

.services__item-element--price {
  background-color: var(--main__color);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  box-shadow: 0px 0px 10px rgba(253, 197, 245, 0.9);
}

.swipe__container {
  z-index: 999;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: swipeContainerAnim 20s ease-in-out;
}

.swipe__bubble--container {
  width: 200px;
  height: 100px;
  position: relative;
}

.swipe__bubble {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  position: absolute;
  background-color: #fdc5f5;
  box-shadow: 0px 0px 10px rgba(18, 18, 18, 0.25);
  animation: swipeAnim 2s ease-in-out 0.5s 3;
  transition: all 300ms ease-in-out;
  top: 50%;
  right: 0px;
  transform: translateY(-50%) scale(0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.swipe__bubble img {
  width: 100%;
  height: 100%;
  filter: brightness(0) invert(1);
  opacity: 0.5;
}

@keyframes swipeAnim {
  0% {
    transform: translateY(-50%) translateX(0px) scale(0);
  }
  20% {
    transform: translateY(-50%) translateX(0px) scale(1);
  }

  80% {
    transform: translateY(-50%) translateX(-125px) scale(1);
  }

  100% {
    transform: translateY(-50%) translateX(-125px) scale(0);
  }
}

@keyframes AboutMePictureAnim {
  0% {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  50% {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  }

  100% {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
}

/* CLIENTS PAGE */

.beforeAfterSlider__container {
  grid-row: span 4;
  grid-column: span 6;
  width: 100%;
  height: 100%;
  padding: 25px;
  position: relative;
}

.bas__nametag {
  position: absolute;
  bottom: calc(15px + 25px);
  left: calc(15px + 25px);
  background-color: var(--main__color);
  border-radius: 10px;
  padding: 10px 20px;
  text-transform: capitalize;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  font-weight: 800;
}

.beforeAfterSlider__container:nth-child(1) {
  grid-column: 2 / span 6;
}
.beforeAfterSlider__container:nth-child(4) {
  grid-column: 2 / span 6;
}
.beforeAfterSlider__container:nth-child(7) {
  grid-column: 2 / span 6;
}
.beforeAfterSlider__container:nth-child(10) {
  grid-column: 2 / span 6;
}
.beforeAfterSlider__container:nth-child(13) {
  grid-column: 2 / span 6;
}
.beforeAfterSlider__container:nth-child(16) {
  grid-column: 2 / span 6;
}
.beforeAfterSlider__container:nth-child(19) {
  grid-column: 2 / span 6;
}

.BeforeAfterSlider {
  width: 100%;
  height: 100%;
  --testFill: cover;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.before-after-slider__first-photo-container {
  height: 100%;
  width: 100%;
  object-fit: var(--testFill);
}
.before-after-slider__first-photo-container img {
  height: 100%;
  width: 100%;
  object-fit: var(--testFill);
}
.before-after-slider__second-photo-container img {
  height: 100%;
  width: 100%;
  object-fit: var(--testFill);
}
.before-after-slider__second-photo-container {
  height: 100%;
  width: 100%;
  object-fit: var(--testFill);
}

/* .lsClientsEdit {
  height: calc(
    200vh - var(--nav-height) - var(--nav-height) - var(--footer-height) -
      var(--footer-height) - 40px
  ) !important;
  grid-template: repeat(16, 1fr) / repeat(20, 1fr) !important;
} */

.grid-overlay {
  position: absolute;
  top: var(--nav-height);
  width: calc(100vw - 40px);
  height: calc(100vh - var(--nav-height) - var(--footer-height) - 40px);
  display: grid;
  gap: 10px;
  place-items: center;
  grid-template: repeat(8, 1fr) / repeat(20, 1fr);
  margin: 20px;
  opacity: 0.5;
  z-index: -1;
  height: calc(
    200vh - var(--nav-height) - var(--nav-height) - var(--footer-height) -
      var(--footer-height) - 40px
  ) !important;
  grid-template: repeat(16, 1fr) / repeat(20, 1fr) !important;
}

/* CONTACT STUFF */

.contact__container {
  width: 100%;
  height: 100%;
  grid-row: 2 / span 6;
  grid-column: 6 / span 10;
  background-image: linear-gradient(
    145deg,
    rgb(255, 208, 248),
    rgb(255, 228, 251)
  );
  border-radius: 25px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.mapClass {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}

.map__container {
  padding: 25px;
  padding-top: 0px;
  width: 100%;
  height: 100%;
}

.contact__item {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.contact__text {
  width: 200px;
  text-align: center;
}

.contact__item-list {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

@media (max-width: 480px) {
  .navbar__container {
    padding: unset;
  }

  #land-section {
    width: calc(100vw - 40px);
    height: calc(100vh - var(--nav-height) - var(--footer-height) - 40px);
    display: grid;
    gap: 5px;
    place-items: center;
    grid-template: repeat(20, 1fr) / repeat(10, 1fr);
    margin: 20px;
  }

  .lsEdit {
    height: calc(
      180vh - var(--nav-height) - var(--footer-height) - 40px
    ) !important;
    grid-template: repeat(38, 1fr) / repeat(10, 1fr) !important;
  }

  .footer__container {
    padding: 0px 10px;
  }

  .about-me__para-container {
    grid-row: 11 / span 6;
    grid-column: 2 / span 8;
    background-color: #fff4fd;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .about-me__para {
    font-size: 14px;
    line-height: 20px;
  }
  .about-me__picture {
    grid-row: 2 / span 8;
    grid-column: 3 / span 6;
  }

  .about-me__picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .about-me__button-container {
    grid-row: 18 / span 2;
    grid-column: 2 / span 8;
  }

  .about-me__button {
    font-size: 20px;
  }

  .beforeAfterSlider__container {
    grid-row: span 6;
    grid-column: var(--gcVal);
    padding: 10px;
    --gcVal: span 10;
  }
  .BeforeAfterSlider {
    border-radius: 15px;
  }

  .beforeAfterSlider__container:nth-child(1) {
    grid-column: var(--gcVal);
    grid-row: 2 / span 6;
  }
  .beforeAfterSlider__container:nth-child(4) {
    grid-column: var(--gcVal);
  }
  .beforeAfterSlider__container:nth-child(7) {
    grid-column: var(--gcVal);
  }
  .beforeAfterSlider__container:nth-child(10) {
    grid-column: var(--gcVal);
  }
  .beforeAfterSlider__container:nth-child(13) {
    grid-column: var(--gcVal);
  }
  .beforeAfterSlider__container:nth-child(16) {
    grid-column: var(--gcVal);
  }
  .beforeAfterSlider__container:nth-child(19) {
    grid-column: var(--gcVal);
  }

  .bas__nametag {
    bottom: calc(5px + 15px);
    left: calc(5px + 15px);
    background-color: var(--main__color);
    border-radius: 10px;
    padding: 7.5px 10px;
    text-transform: capitalize;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    font-weight: 800;
    font-size: 14px;
  }

  .services__container {
    width: 100%;
    height: 100%;
    grid-column: 1 / span 10;
    grid-row: 2 / span 18;
    display: grid;
    grid-template: repeat(6, 1fr);
    gap: 10px;
    grid-template-columns: repeat(auto-fill, 70px);
    grid-auto-flow: column;
    grid-auto-columns: 70px;
    overflow-x: scroll;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow-y: hidden;
    background-color: #fff9fe;
  }

  .services__list {
    grid-column: span 4;
    grid-row: span 6;
    text-align: center;
    font-size: 40px;
    padding: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    background-color: #fff9fe;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .services__item-element--container {
    text-align: left;
  }

  .services__item-element {
    font-size: 14px;
  }

  .services__item-element--price {
    font-size: 12px;
    text-align: center;
  }

  .services__item-title {
    font-size: 20px;
    margin-top: 10px;
  }
  .footer__socials {
    gap: 20px;
  }

  .contact__container {
    grid-row: 2 / span 18;
    grid-column: 2 / span 8;
    padding: 20px;
    gap: 20px;
    padding: 10px;
    padding-top: 30px;
  }

  .contact__container * {
    text-align: center;
  }

  .contact__title {
    font-size: 18px;
  }

  .map__container {
    padding: 15px;
    padding-top: 0px;
    width: 100%;
    height: 100%;
  }

  .contact__item-list {
    flex-direction: column;
  }
}
