/* NAV */
nav {
  width: 100vw;
  height: var(--nav-height);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  background-color: white;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
}

.navbar__container {
  width: 100%;
  height: 100%;
  max-width: 1700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.nav__title-and-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__logo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.nav__title {
  font-size: 46px;
  font-family: "Lobster", cursive;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.nav__link {
  font-size: 30px;
}

.nav__button {
  font-size: 24px;
  font-weight: 800;
  position: relative;
  transition: 300ms all ease-in-out;
}

.nav__button::after {
  content: "";
  width: 0%;
  height: 5px;
  background-color: var(--main__color);
  position: absolute;
  bottom: -5px;
  right: 0px;
  border-radius: 9999px;
  transition: 300ms all ease;
}

.nav__button:hover::after {
  width: 100%;
  left: 0px;
}

.nav__button:hover {
  cursor: pointer;
}

.nb__custom {
  background-color: var(--main__color);
  padding: 10px 20px;
  border-radius: 5px;
  text-shadow: 0px 0px 4px #fff4fd;
}

.nb__custom:hover {
  transform: scale(1.1);
}

.nb__custom::after {
  display: none;
}

/* FOOTER */

footer {
  --footer__color: #393438;
  width: 100vw;
  height: var(--footer-height);
  background-color: var(--footer__color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__container {
  width: 100%;
  max-width: 1700px;
  height: var(--footer-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.footer__social-link--text {
  font-size: 20px;
  color: #fff3fd;
  cursor: pointer;
}

.footer__credits {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__credits * {
  font-size: 14px;
}

.footer__credits-photo {
  filter: grayscale(100%) brightness(2);
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-left: 3px;
}

.footer__credits--link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.footer__credits-link--text {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main__color);
}

.footer__credits--scolor {
  color: #fff3fd;
}

.fclts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
