@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lobster&display=swap");
body {
  --nav-height: 80px;
  --main__color: #fdc5f5;
  --footer-height: 100px;
  overflow-x: hidden;
  background-color: rgba(253, 197, 245, 0.2);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li:hover {
  cursor: default;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
