@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lobster&display=swap");
body {
  --nav-height: 80px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* font-family: 'Lobster', cursive; */
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li:hover {
  cursor: default;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
